## 1. Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal.

In [3]:
# Decimal to Binary, Octal and Hexadecimal conversion

decimal = int(input("Enter a decimal number: "))

binary = bin(decimal)
octal = oct(decimal)
hexadecimal = hex(decimal)

print("Binary:", binary)
print("Octal:", octal)
print("Hexadecimal:", hexadecimal)

Enter a decimal number:  5

Binary: 0b101
Octal: 0o5
Hexadecimal: 0x5

## 2. Write a Python Program to Display Fibonacci Sequence Using Recursion.

In [5]:
def fibonacci(n):
    if n==1:
        return n
    elif n==0:
        return n
    else:
        return fibonacci(n-1)+fibonacci(n-2)

n=int(input("enter a number"))
for i in range(n+1):
    print(fibonacci(i))

enter a number 10

0
1
1
2
3
5
8
13
21
34
55

In [2]:
def feb(n):
    if n<=1:
        return n
    else:
        return feb(n-1)+feb(n-2)

n=int(input("enter a number"))
for i in range(n+1):
    print(feb(i))

enter a number 10

0
1
1
2
3
5
8
13
21
34
55

In [6]:
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n-1) + fibonacci(n-2)

n = int(input("Enter a number: "))
for i in range(n + 1):
    print(fibonacci(i))

Enter a number:  6

0
1
1
2
3
5
8

In [7]:
n = int(input("Enter a number: "))

a, b = 0, 1
for i in range(n + 1):
    print(a)
    a, b = b, a + b

Enter a number:  6

0
1
1
2
3
5
8

## 3. Write a Python Program to Find Factorial of Number Using Recursion.

In [8]:
# recurssion code
def fact(n):
    if n<=1:
        return n
    else:
        return n*fact(n-1)

n=int(input("enter a number"))
print(fact(n))

enter a number 5

120

In [12]:
# without recurssion normal code

n=int(input("enter a number :"))
fact=1
for i in range(1,n+1):
    fact*=i

print(fact)

enter a number : 5

120

In [15]:
# using exception handeling
try:
    n=int(input("enter a number"))
    fact=1
    for i in range(1,n+1):
        fact*=i
except ValueError as e:
    print("error",e)
else:
    print("Factorial of ",n,"is :",fact)
finally:
    print("code is successfully executed")

enter a number hist

error invalid literal for int() with base 10: 'hist'
code is successfully executed

## 4. Write a Python Program to calculate the natural logarithm of any number

In [16]:
import math

num = float(input("Enter a positive number: "))

if num > 0:
    result = math.log(num)   # natural logarithm (base e)
    print("Natural logarithm of", num, "is:", result)
else:
    print("Natural logarithm is not defined for zero or negative numbers.")

Enter a positive number:  67

Natural logarithm of 67.0 is: 4.204692619390966

## 5. Write a Python Program to find sum of array.
In Python, an array is a data structure used to store a collection of elements, each identified
by an index or a key. Unlike some other programming languages, Python does not have a
built-in array type. Instead, the most commonly used array-like data structure is the list.

A list in Python is a dynamic array, meaning it can change in size during runtime. Elements
in a list can be of different data types, and you can perform various operations such as
adding, removing, or modifying elements. Lists are defined using square brackets [] and
can be indexed and sliced to access specific elements or sublists.

Example of a simple list in Python:
my_list = [1, 2, 3, 4, 5]

In [4]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l3=[]
result=0
for i in range(len(l1)):
    l3.append(l1[i]+l2[i])
    result+=l1[i]+l2[i]

print(l3)
print(sum(l3))
print(result)

[7, 9, 11, 13, 15]
55
55

In [5]:
l=[1,2,3,4,5]
ll=0
for i in l:
    ll+=i
print(ll)

15

In [26]:
name="Pavan Suresh Ahire"
dic={}
for i in name:
    if i  in dic:
        dic[i]+=1
    else:
        dic[i]=1

print(dic)

{'P': 1, 'a': 2, 'v': 1, 'n': 1, ' ': 2, 'S': 1, 'u': 1, 'r': 2, 'e': 2, 's': 1, 'h': 2, 'A': 1, 'i': 1}

In [35]:
name="Pavan Suresh Ahire"

dic={}
for i in name:
    if i in 'AEIOUaeiou':
        if i in dic:
            dic[i]+=1
        else:
            dic[i]=1

print(dic)

{'a': 2, 'u': 1, 'e': 2, 'A': 1, 'i': 1}

## 6. Write a Python Program to find largest element in an array

In [36]:
import numpy as np

a=np.array([[1,2,3],[4,5,6],[66,5,6]])

In [37]:
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [66,  5,  6]])

In [38]:
largest=0
for i in np.nditer(a):
    if i> largest:
        largest=i

print(largest)

66

## 7. Write a Python Program for array rotation
Original Array: [1, 2, 3, 4, 5]

Rotated Array: [3, 4, 5, 1, 2]

In [39]:
# Original array
arr = [1, 2, 3, 4, 5]

# Number of positions to rotate
k = 2

# Perform left rotation
rotated_arr = arr[k:] + arr[:k]

print("Original Array:", arr)
print("Rotated Array:", rotated_arr)

Original Array: [1, 2, 3, 4, 5]
Rotated Array: [3, 4, 5, 1, 2]

In [2]:
l=[ i for i in range(1,50) if i % 2==0 and i %5==0]
l

[10, 20, 30, 40]

## 8. Write a Python Program to Split the array and add the first part to the end?
Original Array: [1, 2, 3, 4, 5]

Array after splitting and adding: [4, 5, 1, 2, 3]

In [40]:
# Original array
arr = [1, 2, 3, 4, 5]

# Number of positions to rotate
k = 3

# Perform left rotation
rotated_arr = arr[k:] + arr[:k]

print("Original Array:", arr)
print("Rotated Array:", rotated_arr)

Original Array: [1, 2, 3, 4, 5]
Rotated Array: [4, 5, 1, 2, 3]

## 9. Check if a Given Array is Monotonic

A **monotonic array** is one that is entirely **non-increasing** or **non-decreasing**.

### **Example Arrays:**

```python
arr1 = [1, 2, 2, 3]  # Monotonic (non-decreasing)
arr2 = [3, 2, 1]     # Monotonic (non-increasing)
arr3 = [1, 3, 2, 4]  # Not monotonic

In [43]:
arr3 = [1, 3, 2, 4]
print(sorted(arr3,reverse=True))

[4, 3, 2, 1]

In [64]:
arr1 = [1, 2, 2, 3]  # Monotonic (non-decreasing)
arr2 = [3, 2, 1]     # Monotonic (non-increasing)
arr3 = [1, 3, 2, 4]  # Not monotonic

def monotonic(a):
    j=sorted(a)
    k=sorted(a,reverse=True)
    if a==j:
        print("\nMonotonic (non-decreasing)")
        print("given array: ",a)
        print("sotred of it ASC :",j)
    elif a==k:
        print("\nMonotonic (non-increasing)")
        print("given array: ",a)
        print("sotred of it DEC :",k)
    else:
        print("\nNot Monotonic")
        print(a)

In [65]:
monotonic(arr1)
monotonic(arr2)
monotonic(arr3)

Monotonic (non-decreasing)
given array:  [1, 2, 2, 3]
sotred of it ASC : [1, 2, 2, 3]

Monotonic (non-increasing)
given array:  [3, 2, 1]
sotred of it DEC : [3, 2, 1]

Not Monotonic
[1, 3, 2, 4]

## 10. Write a Python Program to Add Two Matrices.

In [1]:
import numpy as np

A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])

result = A + B

print("Sum of the two matrices:")
print(result)

Sum of the two matrices:
[[ 6  8]
 [10 12]]

## 11. Write a Python Program to Sort Words in Alphabetic Order.
```Input:- Enter a string: suresh ramesh vibhuti gulgule raji ram shyam ajay
Output:- The sorted words are:
Ajay
Gulgule
Raji
Ram
Ramesh
Shyam
Suresh
Vibhuti

In [14]:
words="Gulgule Raji Ajay Ram Ramesh Shyam Suresh Vibhuti"
c=words.split()
s=sorted(c)

for i in s:
    print(i)

Ajay
Gulgule
Raji
Ram
Ramesh
Shyam
Suresh
Vibhuti

In [28]:

n=input("enter a first word")
k=input("enter a second word")

if (sorted(n)==sorted(k)) and (len(n)==len(k)):
    print("the structure of words are same means both are Anagram")
else:
    print('it is not anagram')

enter a first word kjkj
enter a second word jhk

it is not anagram

## 12. Write a Python Program to Remove Punctuation From a String.[Do not use REGEX!]

In [16]:
text = "Hello!!! Welcome, to Python (){}----____*&programming."

punctuation='''!@#$%^&*(){}[]<>?/:;"''_-,.'''

result=''
for i in text:
    if i not in punctuation:
        result+=i

print("original text is : ",text)
print("after removing punctuation :",result)

original text is :  Hello!!! Welcome, to Python (){}----____*&programming.
after removing punctuation : Hello Welcome to Python programming

## 13. Write a Python program to Multiply all numbers in the list.

In [80]:
n=list(eval(input("enter the elemet of list")))

m=1
for i in n:
    m*=i

print("\nmultiplication of",n,"is :",m)

enter the elemet of list 1,2,3

multiplication of [1, 2, 3] is : 6

## 14. Write a Python program to find smallest number in a list.

In [82]:
def small(l):
    l = sorted(l)
    print(l[0])

l=[5,66,77,88,44,0,553,4]
small(l)

0

In [84]:
def small(l):
    l = sorted(l)
    print("smallest element is :",l[0])

l=list(eval(input("enter input")))
small(l)

enter input 1,2,333,44,55,0

smallest element is : 0

## 15. Write a Python program to find largest number in a list

In [85]:
def large(l):
    l=sorted(l,reverse=True)
    print("Largest element is :",l[0])

l=[0,9,8,7,6,7,8,9,8,9,8,9,4,4,55,66]
large(l)

Largest element is : 66

In [86]:
def large(l):
    l=sorted(l,reverse=True)
    print("Largest element is :",l[0])

l=list(eval(input("Enter Input")))
large(l)

Enter Input 55,66,55,444,444,44444444

Largest element is : 44444444

## 16. Write a Python program to find second largest number in a list.

In [3]:
def second_large(l):
    print("the given list is :",l)
    l=sorted(l)
    print("\n sorted list is :",l)
    print("\nSecond largest element from the list is :",l[-2])

n=list(eval(input("Enter the list Elements :")))
second_large(n)

Enter the list Elements : 1,2,3,4,5,6,7,8,9,10

the given list is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 sorted list is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Second largest element from the list is : 9

In [98]:
n=[1,2,3,4,5,6,7,777,66,55,444,666,555555,444]
def my_sort(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n - i - 1):
            if arr[j] > arr[j + 1]:
                # swap elements
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
    return arr
print(my_sort(n))
print(my_sort(n)[-2])

[1, 2, 3, 4, 5, 6, 7, 55, 66, 444, 444, 666, 777, 555555]
777

## 17. Write a Python program to find N largest elements from a list.

In [1]:
def n_largest():
    n=list(eval(input("Enter the elements")))
    v=int(input("enter how many largest element you want"))
    #n=sorted(n)
    k=sorted(n[-v:],reverse=True)
    print("\n sorted largest ",v,"elements are :",k)
    print(f"your {v} largest elements are : {n[-v:]}")

n_largest()

Enter the elements 1,2,3,4,5,6,7,8
enter how many largest element you want 4

 sorted largest  4 elements are : [8, 7, 6, 5]
your 4 largest elements are : [5, 6, 7, 8]

## 18. Write a Python program to print even numbers in a list.

In [12]:
def even_num_list(l):
    l2=[]
    for i in l:
        if i % 2 ==0:
            l2.append(i)
    print("\neven numbers list is :\n",l2)

n=list(eval(input("enter the numbers :")))
even_num_list(n)

enter the numbers : 2,3,4,5,6,7,8,9,10,11,121,13,14,15,16,17,18,19,10,20

even numbers list is :
 [2, 4, 6, 8, 10, 14, 16, 18, 10, 20]

In [13]:
l=[2,3,4,5,6,7,8,9,10,11,121,13,14,15,16,17,18,19,10,20]
l2=[]
for i in l:
    if i % 2 ==0:
        l2.append(i)
print("\neven numbers list is :\n",l2)

even numbers list is :
 [2, 4, 6, 8, 10, 14, 16, 18, 10, 20]

In [1]:
l=[2,3,4,5,6,7,8,9,10,11,121,13,14,15,16,17,18,19,10,20]
l2=[ i for i in l if i % 2 ==0]
l2

[2, 4, 6, 8, 10, 14, 16, 18, 10, 20]

## 19. Write a Python program to print odd numbers in a List

In [7]:
l=list(eval(input("enter the , seprated elements")))
l2=[i for i in l if i % 2 !=0]
l2

enter the , seprated elements 1,2,3,4,5,6,7,8,9

[1, 3, 5, 7, 9]

In [14]:
def odd_num_list(l):
    l2=[]
    for i in l:
        if i % 2 !=0:
            l2.append(i)
    print("\n odd numbers list is :\n",l2)

n=list(eval(input("enter the numbers :")))
odd_num_list(n)

enter the numbers : 2,3,4,5,6,7,8,9,10,11,121,13,14,15,16,17,18,19,10,20

 odd numbers list is :
 [3, 5, 7, 9, 11, 121, 13, 15, 17, 19]

In [15]:
l=[2,3,4,5,6,7,8,9,10,11,121,13,14,15,16,17,18,19,10,20]
l2=[]
for i in l:
    if i % 2 !=0:
        l2.append(i)
print("\n odd numbers list is :\n",l2)

 odd numbers list is :
 [3, 5, 7, 9, 11, 121, 13, 15, 17, 19]

In [2]:
l=[2,3,4,5,6,7,8,9,10,11,121,13,14,15,16,17,18,19,10,20]
l2=[i for i in l if i % 2 !=0]
l2

[3, 5, 7, 9, 11, 121, 13, 15, 17, 19]

## 20. Write a Python program to Remove empty List from List.

In [4]:
l=[[1,2,3],[],[4,5,6],[],[1]]
l2=[]
for i in l:
    if len(i)==0:
        del i
    else:
        l2.append(i)

print(l2)

[[1, 2, 3], [4, 5, 6], [1]]

## 21. Write a Python program to Count occurrences of an element in a list

In [24]:
l=[2,2,2,3,3,3,4,4,4,5,5,5,6,6,6,77,7,8,9,9,8,8,7,7,6,6,4,3,5,6,7,9,8]
dic={}
for i in l:
    if i not in dic:
        dic[i]=1
    else:
        dic[i]+=1

for key,value in dic.items():
    print(key," : ",value)

2  :  3
3  :  4
4  :  4
5  :  4
6  :  6
77  :  1
7  :  4
8  :  4
9  :  3

In [10]:
l=[2,2,2,3,3,3,4,4,4,5,5,5,6,6,6,77,7,8,9,9,8,8,7,7,6,6,4,3,5,6,7,9,8]
dic={}
for i in l:
    if i not in dic:
        dic[i]=1
    else:
        dic[i]+=1

for i,j in dic.items():
    print(i," : ",j)

2  :  3
3  :  4
4  :  4
5  :  4
6  :  6
77  :  1
7  :  4
8  :  4
9  :  3

## 22. Write a Python program to find words which are greater than given length k.

In [3]:
n='python is a programers friendly language and i am also love this and use this to learn the data science'
k=5
word=n.split()
for i in word:
    if len(i)>5:
        print(i)

python
programers
friendly
language
science

## 23. Write a Python program to split and join a string.

In [5]:
s=input("enter input string")
split=s.split()
result=" ".join(split)

print('\nthe string is :',s)
print("\nthe split string is ",split)
print("\nthe join string is ",result)

enter input string pavan suresh ahire

the string is : pavan suresh ahire

the split string is  ['pavan', 'suresh', 'ahire']

the join string is  pavan suresh ahire

## 24. Write a Python program to find uncommon words from two Strings.

In [13]:
s1=input("enter a string 1:").split()
s2=input("enter a string 2:").split()

words=[]
for i in s1:
    if i not in s2:
        words.append(i)

for i in s2:
    if i not in s1:
        words.append(i)
        
print("uncommon words are :",words)

enter a string 1: python is easy
enter a string 2: python is hard

uncommon words are : ['easy', 'hard']

## 25. Write a Python program to find all duplicate characters in string.

In [15]:
s1=input("enter a string 1:")

l=[]
for i in s1:
    if i not in l:
        l.append(i)


        
print("duplicate characters are :",l)

enter a string 1: python is easy

duplicate characters are : ['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', 'e', 'a']

# write a prgram to create a list that store the even number square from 50 to 100

In [19]:
l=[]
for i in range(50,100):
    if i %2==0:
        l.append(i**2)

l

[2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

## 26. Write a Python program to Extract Unique dictionary values.
```
Input: - my_dict = {'a': 10, 'b': 20, 'c': 10, 'd': 30, 'e': 20}
output: - [10, 20, 30]

In [1]:
my_dict = {'a': 10, 'b': 20, 'c': 10, 'd': 30, 'e': 20}
l=[]
for key,value in my_dict.items():
    if value not in l:
        l.append(value)

print(my_dict)
print(l)

{'a': 10, 'b': 20, 'c': 10, 'd': 30, 'e': 20}
[10, 20, 30]

In [29]:
a=[('a',1),('b',4),('c',3),('d',2),('e',5)]
b=sorted(a,key=lambda x: x[1])

print(b)

[('a', 1), ('b', 4), ('c', 3), ('d', 2), ('e', 5)]

In [30]:
a = [('A',90),('B',101),('C',0),('D',0),('E',5)]
# l=sorted(a,key=lambda x: x[1])
# l
l=[]
el=[]
for i in a:
    l.append(i[1])
l.sort()
print(l)
for i in range(len(l)):
    for j in range(len(l)):
        if l[i] in a[j]:
            el.append(a[j])
            a.pop(j)
            break
            
el

[0, 0, 5, 90, 101]

[('C', 0), ('D', 0), ('E', 5), ('A', 90), ('B', 101)]

## 27. Write a Python program to find the sum of all items in a dictionary.
```
Input: - my_dict = {'a': 10, 'b': 20, 'c': 10, 'd': 30, 'e': 20}
Output: - Sum of all items in the dictionary: 150

In [35]:
my_dict = {'a': 10, 'b': 20, 'c': 10, 'd': 30, 'e': 20}
add=0
for i,j in my_dict.items():
    add+=j

print("sum of all items in the dictionary :",add)

sum of all items in the dictionary : 90

## 28. Write a Python program to Merging two Dictionaries

In [42]:
dic1={'a':1,'b':2,'c':3,'d':4}
dic2={'e':5,'f':6,'g':7,'h':8}
dic3={**dic1,**dic2}

print(dic3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8}

## 29. Write a Python program to convert key-values list to flat dictionary.
```
key_values_list = [('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [5]:
key_values_list = [('a', 1), ('b', 2), ('c', 3), ('d', 4)]
dic={}
for i,j in key_values_list:
        dic[i]=j

print(dic)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## 30.  Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

In [12]:
class generater:
    def __init__(self,n):
        self.n=n
    def gen_num(self):
        for i in range(self.n+1):
            if i % 7==0:
                yield i

obj=generater(50)
obj.gen_num()

for i in obj.gen_num():
    print(i)

0
7
14
21
28
35
42
49

## 31. Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically. Suppose the following input is supplied to the program:
```
"New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3."
Then, the output should be:
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

In [24]:
string="New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.".split()
dic={}
for i in string:
    if i not in dic:
        dic[i]=1
    else:
        dic[i]+=1
        
print(string)
print("Then the ouput is :")

for i in sorted(dic):
    print(f"{i} : {dic[i]}")

['New', 'to', 'Python', 'or', 'choosing', 'between', 'Python', '2', 'and', 'Python', '3?', 'Read', 'Python', '2', 'or', 'Python', '3.']
Then the ouput is :
2 : 2
3. : 1
3? : 1
New : 1
Python : 5
Read : 1
and : 1
between : 1
choosing : 1
or : 2
to : 1

## 32. Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

In [28]:
class person:
    def getGender(self):
        pass

class Male(person):
    def getGender(self):
        print( "Male Class")

class Female(person):
    def getGender(self):
        print( "Female Class")

obj=person()
obj2=Male()
obj3=Female()
obj.getGender()
obj2.getGender()
obj3.getGender()

Male Class
Female Class

## 33. Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

In [29]:
subject=["I", "You"]
verb=["Play", "Love"] 
object= ["Hockey","Football"]

for i in subject:
    for j in verb:
        for k in object:
            print(i,j,k)

I Play Hockey
I Play Football
I Love Hockey
I Love Football
You Play Hockey
You Play Football
You Love Hockey
You Love Football

## 34. Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.
```
Example:
If the following n is given as input to the program:
10
Then, the output of the program should be:
0,2,4,6,8,10

In [32]:
def gen_even(n):
    for i in range(n+1):
        if i % 2 == 0:
            yield i

n=int(input("enter the number"))

print(",".join(map(str,gen_even(n))))

enter the number 10

0,2,4,6,8,10

## 35. Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have an area function which can print the area of the shape where Shape's area is 0 by default.

In [39]:
class Shape:
    def area(self):
        print("area is :",0)

class square(Shape):
    def __init__(self,l):
        self.l=l
    def area(self):
        print( "Area is :",self.l*self.l)

obj=Shape()
obj2=square(4)
obj.area()
obj2.area()

area is : 0
Area is : 16

## 36. Create a function that takes an angle in radians and returns the corresponding angle in degrees rounded to one decimal place.
```
Examples
radians_to_degrees(1)  57.3
radians_to_degrees(20)  1145.9
radians_to_degrees(50)  2864.8

In [41]:
import math
def radians_to_degree(n):
    degree= n*(180/math.pi)
    print(round(degree,1))


radians_to_degree(1)
radians_to_degree(20)
radians_to_degree(50)

57.3
1145.9
2864.8

## 37. Write a function that stutters a word as if someone is struggling to read it. The first two letters are repeated twice with an ellipsis ... and space after each, and then the word is pronounced with a question mark ?.
```
Examples
stutter("incredible")  "in... in... incredible?"
stutter("enthusiastic")  "en... en... enthusiastic?"
stutter("outstanding")  "ou... ou... outstanding?"
Hint :- Assume all input is in lower case and at least two characters long.

In [45]:
def stutter(n):
    print(f'''"{n[0:2]}...{n[0:2]}...{n}?"''')

stutter("incredible") # "in... in... incredible?"
stutter("enthusiastic") # "en... en... enthusiastic?"
stutter("outstanding") # "ou... ou... outstanding?"

"in...in...incredible?"
"en...en...enthusiastic?"
"ou...ou...outstanding?"

## 38. Given the side length x find the area of a hexagon.
```
Examples
area_of_hexagon(1)  2.6
area_of_hexagon(2)  10.4
area_of_hexagon(3)  23.4

In [ ]:
def area_of_hexagon(n):

## 39. Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
```
Examples
evenly_divisible(1, 10, 20)  0
# No number between 1 and 10 can be evenly divided by 20.
evenly_divisible(1, 10, 2)  30
# 2 + 4 + 6 + 8 + 10 = 30
evenly_divisible(1, 10, 3)  18
# 3 + 6 + 9 = 18

In [1]:
def evenly_divisible(a,b,c):
    total=0
    for i in range(a,b+1):
        if i % c==0:
            total+=i
    print( total)

evenly_divisible(1, 10, 20)
evenly_divisible(1, 10, 2)
evenly_divisible(1, 10, 3)

0
30
18

## 40. Create a function that returns True if a given inequality expression is correct and False otherwise
```
Examples
correct_signs("3 < 7 < 11")  True
correct_signs("13 > 44 > 33 <1")  False
correct_signs("1 < 2 < 6 < 9 > 3")  True

In [3]:
def correct_signs(expr):
    """
    Returns True if the inequality expression is correct, False otherwise.
    """
    try:
        return eval(expr)
    except:
        return False
correct_signs("3 < 7 < 11")

True

## 41. Create a function that replaces all the vowels in a string with a specified character.
```Examples
replace_vowels("the aardvark", "#")  "th# ##rdv#rk"
replace_vowels("minnie mouse", "?")  "m?nn?? m??s?"
replace_vowels("shakespeare", "*")  "shkspr*"

In [4]:
def replace_vowels(txt, char):
    """
    Replaces all vowels in the input string txt with the given character char.
    """
    vowels = "aeiouAEIOU"
    return ''.join(char if c in vowels else c for c in txt)

print(replace_vowels("the aardvark", "#"))   #  "th# ##rdv#rk"
print(replace_vowels("minnie mouse", "?"))   #  "m?nn?? m??s?"
print(replace_vowels("shakespeare", "*"))    #  "sh*k*sp**r*"

th# ##rdv#rk
m?nn?? m??s?
sh*k*sp**r*

## 42. Write a function that calculates the factorial of a number recursively.
```
Examples
factorial(5)  120
factorial(3)  6
factorial(1)  1
factorial(0)  1

## 43. Create a function that takes a list of non-negative integers and strings and return a new list without the strings.
```
Examples
filter_list([1, 2, "a", "b"])  [1, 2]
filter_list([1, "a", "b", 0, 15])  [1, 0, 15]
filter_list([1, 2, "aasf", "1", "123", 123])  [1, 2, 123]

## 44. The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.
```
Examples
reverse("Hello World")  "DLROw OLLEh"
reverse("ReVeRsE")  "eSrEvEr"
reverse("Radar")  "RADAr"

## 45. Create a function that takes a string and returns a string in which each character is repeated once.
```
Examples
double_char("String")  "SSttrriinngg"
double_char("Hello World!")  "HHeelllloo WWoorrlldd!!"
double char("1234! ")  "11223344!! "

## 46. Using list comprehensions, create a function that finds all even numbers from 1 to the given number.
```
Examples
find_even_nums(8)  [2, 4, 6, 8]
find_even_nums(4)  [2, 4]
find_even_nums(2)  [2]

## 47. Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
```
Examples
filter_list([1, 2, 3, "a", "b", 4])  [1, 2, 3, 4]
filter_list(["A", 0, "Edabit", 1729, "Python", 1729])  [0, 1729]
filter_list(["Nothing", "here"])  []

## 48. Hamming distance is the number of characters that differ between two strings.
```
To illustrate:
String1: "abcbba"
String2: "abcbda"
Hamming Distance: 1 - "b" vs. "d" is the only difference.
```

#### Create a function that computes the hamming distance between two strings.
```
Examples
hamming_distance("abcde", "bcdef")  5
hamming_distance("abcde", "abcde")  0
hamming_distance("strong", "strung")  1

## 49. Write a function that moves all elements of one type to the end of the list.
```
Examples
move_to_end([1, 3, 2, 4, 4, 1], 1)  [3, 2, 4, 4, 1, 1]
Move all the 1s to the end of the array.
move_to_end([7, 8, 9, 1, 2, 3, 4], 9)  [7, 8, 1, 2, 3, 4, 9]
move_to_end(["a", "a", "a", "b"], "a")  ["b", "a", "a", "a"]

## 50. Create a function that takes a single string as argument and returns an ordered list containing the indices of all capital letters in the string.
```
Examples
index_of_caps("eDaBiT")  [1, 3, 5]
index_of_caps("eQuINoX")  [1, 3, 4, 6]
index_of_caps("determine")  []
index_of_caps("STRIKE")  [0, 1, 2, 3, 4, 5]
index_of_caps("sUn")  [1]

## 51. Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
```
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])  5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])  10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])  7

## 52. An isogram is a word that has no duplicate letters. Create a function that takes a string and returns either True or False depending on whether or not it's an "isogram".
```
Examples
is_isogram("Algorism")  True
is_isogram("PasSword")  False
- Not case sensitive.
is_isogram("Consecutive")  False
```
### Note-
Ignore letter case (should not be case sensitive).
All test cases contain valid one word strings

## 53. Create a function that takes a string and returns True or False, depending on whether the characters are in order or not.
```
Examples
is_in_order("abc")  True
is_in_order("edabit")  False
is_in_order("123")  True
is_in_order("xyzz")  True
```
**Notes**
You don't have to handle empty strings.

## 54. Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
```
Examples
is_symmetrical(7227)  True
is_symmetrical(12567)  False
is_symmetrical(44444444)  True
is_symmetrical(9939)  False
is_symmetrical(1112111)  True

## 55. Given a string of numbers separated by a comma and space, return the product of the numbers.
```
Examples
multiply_nums("2, 3")  6
multiply_nums("1, 2, 3, 4")  24
multiply_nums("54, 75, 453, 0")  0
multiply_nums("10, -2")  -20

## 56. Create a function that sorts a list and removes all duplicate items from it.
```
Examples
setify([1, 3, 3, 5, 5])  [1, 3, 5]
setify([4, 4, 4, 4])  [4]
setify([5, 7, 8, 9, 10, 15])  [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1])  [1, 2, 3]

## 57. Create a function that returns the mean of all digits.
```
Examples
mean(42)  3
mean(12345)  3
mean(666)  6
 ```
**Notes**
- The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
- The mean will always be an integer.

## 58. Create a function that takes a list of strings and return a list, sorted from shortest to longest.
```
Examples
sort_by_length(["Google", "Apple", "Microsoft"])  ["Apple", "Google", "Microsoft"]
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])  ["Raphael",
"Leonardo", "Donatello", "Michelangelo"]
sort_by_length(["Turing", "Einstein", "Jung"])  ["Jung", "Turing", "Einstein"]
```
**Notes**
- All test cases contain lists with strings of different lengths, so you won't have to deal

## 59. Write a function that creates a dictionary with each (key, value) pair being the (lower case, upper case) versions of a letter, respectively.
```
Examples
mapping(["p", "s"])  {"p": "P", "s": "S"}
mapping(["a", "b", "c"])  { "a": "A", "b": "B", "c": "C" }
mapping(["a", "v", "y", "z"])  { "a": "A", "v": "V", "y": "Y", "z": "Z" }
```
**Notes**
- All of the letters in the input list will always be lowercase.

## 60. Create a function that takes a string as input and capitalizes a letter if its ASCII code is even and returns its lower case version if its ASCII code is odd.
```
Examples
ascii_capitalize("to be or not to be!")  "To Be oR NoT To Be!"
ascii_capitalize("THE LITTLE MERMAID")  "THe LiTTLe meRmaiD"
ascii_capitalize("Oh what a beautiful morning.")  "oH wHaT a BeauTiFuL
moRNiNg. "

## 61. Generate a random date between given start and end dates

## 62. Roll dice in such a way that every time you get the same number Dice has 6 numbers (from 1 to 6). Roll dice in such a way that every time you must get the same output number. do this 5 times.

## 63. Random Lottery Pick. Generate 100 random lottery tickets and pick two lucky tickets from it as a winner.
**Note you must adhere to the following conditions:**
- The lottery number must be 10 digits long.
- All 100 ticket number must be unique

## 64. Calculate number of days between two given dates
- Given:
  
(2020-02-25)date_1 = datetime(2020, 2, 25)

(2020-09-17)date_2 = datetime(2020, 9, 17)
- Expected output:
205 days

## 65. Convert the following datetime into a string
- Given:

given_date = datetime(2020, 2, 25)
- Expected output:

"2020-02-25 00:00:00"

## 66. Print current time in milliseconds

## 67. Find the day of the week of a given date
```
Given:
given_date = datetime(2020, 7, 26)
Expected output:
Sunday

## 68. Convert string into a datetime object
```
For example, You received the following date in string format. Please convert it into Pythons DateTime
object
date_string = "Feb 25 2020 4:20PM"

## 69. Write a Python program that:
- Counts the total number of opening ( and closing ) parentheses in the string.
- Tracks the position of each opening(and each closing) in the string, and outputs their respective positions.
- You cannot use built - in functions like count(), find(), etc.to solve this problem.
- input_text = '(((>0)())(('
- The program should print:
The total count of opening parentheses ( and closing parentheses ).
The 1-based index positions of each opening parenthesis ( and each closing parenthesis ).

## 70. Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200

- D means deposit while W means withdrawal.
- Suppose the following input is supplied to the program:
```
D 300
D 300
W 200
D 100
```
- Then, the output should be:
500

**Hints:**
- In case of input data being supplied to the question, it should be assumed to be a console input.

## 71. You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
- 1: Sort based on name;
- 2: Then sort based on age;
- 3: Then sort by score.
The priority is that name > age > score.

If the following tuples are given as input to the program:
- Tom,19,80
- John,20,90
- Jony,17,91
- Jony,17,93
- Json,21,85

Then, the output of the program should be:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]
```
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
use itemgetter to enable multiple.

## 72. Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

**Hints:**

- Use map() to generate a list.
- Use filter() to filter elements of a list.
- Use lambda to define anonymous functions.

## 73. Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.

```Example:
If the following email address is given as input to the program:
john@google.com
Then, the output of the program should be:
john
```
- In case of input data being supplied to the question, it should be assumed to be a console input.

**Hints:** Use \w to match letters.

## 74. Write a program to solve a classic ancient Chinese puzzle: We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?

**Hint:**
- Use for loop to iterate all possible solutions.

## 75. Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
```
Example:
0100,0011,1010,1001
Then the output should be:
1010
```
**Notes:** Assume the data is input by console.

**Hints:**
- In case of input data being supplied to the question, it should be assumed to be a console input.

## 76. Write a function to find the longest common prefix string amongst an array of strings.If there is no common prefix, return an empty string.
```
Example 1:
Input: ["flower","flow","flight"]
Output: "fl"

Example 2:
Input: ["dog","racecar","car"]

Output:
Explanation: There is no common prefix among the input strings.
```
**Note:**- All given inputs are in lowercase letters a-z.

## 77. Given n pairs of parentheses, write a function to generate all combinations of well-formed parentheses.
```
For example, given n = 3, a solution set is:
[
  "((()))",
  "(()())",
  "(())()",
  "()(())",
  "()()()"
	]

## 78. Write a program that calculates and prints the value according to the given formula:
```
Q= Squareroot of 2CD/H
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a commaseparated sequence.
```
**Example**
```
Let us assume the following comma separated input sequence is given to the
program:
100,150,180
The output of the program should be:
18,22,24
```

## 79. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
- Note: i=0,1.., X-1; j=0,1,Y-1.
- Example
- Suppose the following inputs are given to the program: 3,5
- Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

## 80. Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program:
- hello world! 123
- Then, the output should be:

LETTERS 10

DIGITS 3

## 81. Create a function that returns the thickness (in meters) of a piece of paper after folding it n number of times. The paper starts off with a thickness of 0.5mm.
```
Examples
num_layers(1)  "0.001m"
- Paper folded once is 1mm (equal to 0.001m)
num_layers(4)  "0.008m"
- Paper folded 4 times is 8mm (equal to 0.008m)
num_layers(21)  "1048.576m"
- Paper folded 21 times is 1048576mm (equal to 1048.576m)

## 82. Create the function that takes a list of dictionaries and returns the sum of people's budgets.
```
Examples
get_budgets([
{ 'name': 'John', 'age': 21, 'budget': 23000 },
{ 'name': 'Steve', 'age': 32, 'budget': 40000 },
{ 'name': 'Martin', 'age': 16, 'budget': 2700 }
])  65700
get_budgets([
{ 'name': 'John', 'age': 21, 'budget': 29000 },
{ 'name': 'Steve', 'age': 32, 'budget': 32000 },
{ 'name': 'Martin', 'age': 16, 'budget': 1600 }
])  62600

## 83. Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?
- Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.
```
For the example:
compound_interest(10000, 10, 0.06, 12)  18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly
compounding there are 12 periods per year. Compounding can also be done
annually, quarterly, weekly, or daily.
Examples
compound_interest(100, 1, 0.05, 1)  105.0
compound_interest(3500, 15, 0.1, 4)  15399.26
compound_interest(100000, 20, 0.15, 365)  2007316.26

## 84. Create a function that takes an integer and returns a list from 1 to the given number, where:
1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the
number).
2. If the number cannot be divided evenly by 4, simply return the number.
```
Examples
amplify(4)  [1, 2, 3, 40]
amplify(3)  [1, 2, 3]
amplify(25)  [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21,
22, 23, 240, 25]
```
**Notes**
- The given integer will always be equal to or greater than 1.Include the number (see example above).
- To perform this problem with its intended purpose, try doing it with list comprehensions. If that's too difficult, just solve the challenge any way you can.

## 85. Write a Python Program to Make a Simple Calculator with 4 basic mathematical operations.

## 86. Create a function that takes a list of numbers and return the number that's unique.
```
Examples
unique([3, 3, 3, 7, 3, 3])  7
unique([0, 0, 0.77, 0, 0])  0.77
unique([0, 1, 1, 1, 1, 1, 1, 1])  0
```
**Notes**- Test cases will always have exactly one unique number while all others are the same.

## 87. Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).
### For help with this class, I have provided you with a Rectangle constructor which you can use as a base example.
```
Examples
circy = Circle(11)
circy.getArea()
Should return 380.132711084365
circy = Circle(4.44)
circy.getPerimeter()
Should return 27.897342763877365
```
**Notes**- Round results up to the nearest integer.

# 88. Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.
```
Examples
is_triplet(3, 4, 5)  True
3 + 4 = 25
5 = 25
is_triplet(13, 5, 12)  True
5 + 12 = 169
13 = 169
is_triplet(1, 2, 3)  False
1 + 2 = 5
3 = 9
```
**Notes** - Numbers may not be given in a sorted order

## 89. Write a function that converts a dictionary into a list of keys-values tuples.
```
Examples
dict_to_list({
"D": 1,
"B": 2
"C": 3
})  [("B", 2), ("C", 3), ("D", 1)]
dict_to_list({
"likes": 2,
"dislikes": 3,
"followers": 10
})  [("dislikes", 3), ("followers", 10), ("likes", 2)]
```
**Notes**- Return the elements in the list in alphabetical order.

## 90. Write a function, that replaces all vowels in a string with a specified vowel.
```
Examples
vow_replace("apples and bananas", "u")  "upplus und bununus"
vow_replace("cheese casserole", "o")  "chooso cossorolo"
vow_replace("stuffed jalapeno poppers", "e")  "steffed jelepene peppers"
    
```
**Notes**- All words will be lowercase. Y is not considered a vowel.

## 91. Write a Python program to display calendar.

## 92. Write a Python Program to Check Leap Year.

## 93. Write a Python Program to Print all Prime Numbers in an Interval of 1-10.

## 94. Write a Python Program to Display the multiplication Table.

## 95. Write a Python Program to Print the Fibonacci sequence.
```
Fibonacci sequence:
The Fibonacci sequence is a series of numbers where each number is the sum of the two
preceding ones, typically starting with 0 and 1. So, the sequence begins with 0 and 1, and
the next number is obtained by adding the previous two numbers. This pattern continues
indefinitely, generating a sequence that looks like this:
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, and so on.
Mathematically, the Fibonacci sequence can be defined using the following recurrence
relation:
(0) = 0 (1) = 1 () = (  1) + (  2) > 1

## 96. Write a Python Program to Find the Sum of Natural Numbers.
```
Natural numbers are a set of positive integers that are used to count and order objects.
They are the numbers that typically start from 1 and continue indefinitely, including all the
whole numbers greater than 0. In mathematical notation, the set of natural numbers is often
denoted as "N" and can be expressed as:
 = 1, 2, 3, 4, 5, 6, 7, 8, . . .

## 97. Write a Python Program to Add Two Matrices

## 98. Write a Python Program to Multiply Two Matrices.

## 99. Write a Python Program to Transpose a Matrix.

## 100. Write a Python program to print all pronic numbers between 1 and 100.
```
A pronic number, also known as an oblong number or rectangular number, is a type of
figurate number that represents a rectangle. It is the product of two consecutive integers, n
and (n + 1). Mathematically, a pronic number can be expressed as:
For example, the first few pronic numbers are:
 =   ( + 1) 
1 = 1  (1 + 1) = 2
2 = 2  (2 + 1) = 6
3 = 3  (3 + 1) = 12
4 = 4  (4 + 1) = 20