In [1]:
# 1.Create a panda series from a python list [10,20,30,40,50] . What is the output?
import pandas as pd
list1 = [10,20,30,40,50]
df = pd.Series(list1)
df

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
# 2. Give a series s = pd.Series([1,2,3,4,5]), how do you access the 3rd element?

s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
s.iloc[2]

3

In [5]:
#3. How do you check for missing (NaN) values in a series?
s2 = pd.Series([1,2,None,4,5])
s2

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [6]:
s2.isna().any()

True

In [10]:
#4. Write a line of code to get the mean of a series.
s = pd.Series([1,2,3,4,5])
s.mean()

3.0

In [11]:
#5. Create a Series from a dictionary{'a':100,'b':200,'c':300}.What will be the index and values.
s = pd.Series({'a':100,'b':200,'c':300})
s

a    100
b    200
c    300
dtype: int64

In [16]:
#6. Give a Series with values [5,10,np.nan,20,25] write a code to fill NaN with the mean of the series.
fiil_nan_value = pd.Series([5,10,np.nan,20,25])
print(fiil_nan_value)
print()
avg = fiil_nan_value.mean()
print("Mean:",avg)
fiil_nan_value[2]=avg
fiil_nan_value

0     5.0
1    10.0
2     NaN
3    20.0
4    25.0
dtype: float64

Mean: 15.0

0     5.0
1    10.0
2    15.0
3    20.0
4    25.0
dtype: float64

In [32]:
#7. How do you filter a Series to show only values greater than 10?
gr = pd.Series([5,10,15,20,25])
fil = gr[gr>10]
fil

2    15
3    20
4    25
dtype: int64

In [35]:
#8. Give a Series with custom index ['A','B','C','D'], how do you select the value at index label 'C'?
data = pd.Series({"A":1,"B":2,"C":3,"D":4})
data

A    1
B    2
C    3
D    4
dtype: int64

In [36]:
data.loc['C']

3

In [44]:
#9. write a code to return the number of unique values in a series.
un = pd.Series([1,2,3,2,3,4,5,3,4,6])
lis = []
for i in un:
    if i not in lis:
        lis.append(i)
print(pd.Series(lis))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [63]:
# Method 2
un = pd.Series([1,2,3,2,3,4,5,3,4,6])
s=set(un)
l=list(s)
for i in range(len(l)):
    print(f'{i} {l[i]}')

0 1
1 2
2 3
3 4
4 5
5 6

In [62]:
# Method 3
un = pd.Series([1,2,3,2,3,4,5,3,4,6]);s=set(un)
for i,v in enumerate(s):print(i,v)

0 1
1 2
2 3
3 4
4 5
5 6

In [67]:
# 10. Give a Series of intergers , write code to normalize it(scale value between 0 and 1).
norm = pd.Series([10,20,30,40,50])
normalize = (norm - norm.min()) / (norm.max() -norm.min())
normalize

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64